/* CUSTOM PROPERTIES */
:root{    
    --text-color: #7D7D7D;
    --font-family: "Roboto", "Arial", sans-serif;
}

/* FONTS */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto-v27-latin-500.woff2') format('woff2'), 
    url('../fonts/roboto-v27-latin-500.woff') format('woff'); 
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v27-latin-700.woff2') format('woff2'), 
    url('../fonts/roboto-v27-latin-700.woff') format('woff'); 
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/roboto-v27-latin-900.woff2') 
    url('../fonts/roboto-v27-latin-900.woff') format('woff'); 
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

html{
    box-sizing: border-box;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
}

.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px;
}

.container-min{
    width: 1180px;
    margin-left: 152px;
    margin-right: 108px;
}

.site-nav{
    display: flex;
    align-items: center;
}

.site-nav__list{
    display: flex;
    margin-left: auto;
    list-style: none;
}

.site-nav__item{
    margin-left: 72px;
}

.site-nav__link{
    text-decoration: none;
    color: #373737;
}

.link_apply{
    display: inline-block;
    margin-left: 72px;
    padding: 9px 33px 13px 35px;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 17px;
    border: 2px solid #717CFF;
    border-radius: 11px;
    line-height: 20px;
    text-align: center;
    color: #505050;
}


/* SITE-MAIN */
.help-wrapper{
    padding-top: 100px;
    padding-bottom: 54px;
    background-image: url(../images/student.png);
    background-repeat: no-repeat;
    background-position: calc(50% + 402px) 105px;
}

.help__title{
    width: 460px;
    margin: 0;
    margin-bottom: 35px;
    font-weight: 900;
    font-size: 56px;
    line-height: 66px;
    color: #2F2F2F;
}

.help__text{
    width: 620px;
    margin-bottom: 42px;
    font-weight: 500;
    font-size: 22px;
    line-height: 38px;
    color: #7D7D7D;
}

.help__btn{
    display: inline-block;
    background: #717CFF;
    border-radius: 11px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 22px;
    padding: 12px 34px;
    line-height: 40px;
    margin-bottom: 100px;
    color: #FFFFFF;
    text-decoration: none;
}

.help__btn::after{
    content: "";
    display: inline-block;
    background-image: url(../images/arrow_forward_24px.svg);
    background-repeat: no-repeat;
    width: 28px;
    height: 26px;
    background-position: 2px 5px;
    margin-left: 29px;
}

.help__list{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
}

.help__link{
    text-decoration: none;
    display: inline-block;
    margin-right: 23px;
}

.help__img{
    display: block;
}


/* SERVISES */
.servises{
    text-align: center;
}

.servises__title{
    margin-top: 122px;
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 37px;
    line-height: 54px;
    text-align: center;
    color: #373737;
}

.servises__text{
    width: 949px;
    margin: 0 auto;
    font-weight: 500;
    font-size: 22px;
    line-height: 38px;
    text-align: center;
    color: #7D7D7D;
    margin-bottom: 110px;
}

.cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 76px;
}

.card{
    width: 344px;
    padding: 29px 17px 30px 31px;
    text-align: left;
    background-color: #fff;
    box-shadow: 0px 0px 77px rgba(0, 0, 0, 0.06);
    border-radius: 15px;
    margin-bottom: 50px;
}

.card:not(.card:nth-child(3n)){
    margin-right: 47px;
}

.card:last-child{
    margin-right: 0!important;
}

.card__title::before{
    content: "";
    display: block;
    width: 76px;
    height: 76px;
    background-color: #FF5959;
    background-image: url(../images/bookmark.svg);
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 38px;
    margin-bottom: 30px;
}

.card__title{
    font-weight: bold;
    font-size: 24px;
    line-height: 37px;
    color: #37474F;
}

.card__text{
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.444444px;
    color: rgba(55, 71, 79, 0.721569);
}

.card__link{
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.439286px;
    color: #717CFF;
    text-decoration: none;
}

.card__link::after{
    content: "";
    display: inline-block;
    background-image: url(../images/arrow_forward_24px.svg);
    background-repeat: no-repeat;
    width: 28px;
    height: 26px;
    background-position: 2px 5px;
    margin-left: 29px;
}


/* NEWS */
.news--container{
    background-color: #fafafa;
}

.news{
    text-align: center;
    padding-top: 102px;
    
}

.news__title{
    font-weight: bold;
    font-size: 37px;
    line-height: 54px;
    color: #373737;
    margin-bottom: 25px;
}

.news__text{
    max-width: 949px;
    margin: 0 auto 119px;
    font-weight: 500;
    font-size: 22px;
    line-height: 38px;
    color: #7D7D7D;
}

.news__cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 146px;
    text-align: left;
}

.news__card{
    width: 344px;
    box-shadow: 0px 6px 42px rgba(0, 0, 0, 0.103884);
    border-radius: 10px;
}

.news__card:not(:nth-child(3n)),
.news__card:not(:last-child){
    margin-right: 46px;
}

.news-card__wrapper{
    padding: 20px 26px 62px;
}

.news-card__time{
    display: flex;
    align-items: center;
    font-weight: 900;
    font-size: 16px;
    line-height: 19px;
    color: #565656;
    margin: 0;
    margin-bottom: 17px;
}

.news-card__time::before{
    content: "";
    display: inline-block;
    background-image: url(../images/calendar.svg);
    background-repeat: no-repeat;
    width: 22px;
    height: 24px;
    background-position: 2px 5px;
    margin-right: 12px;
    margin-bottom: 9px;
}

.news-card__text{
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    color: #252525;
    margin: 0;
}

.news__btn{
    margin-bottom: 124px;
}


/* EVENTS */
.events__cards{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 81px;
}

.event-card{
    width: 540px;
    padding: 30px 28px 33px 31px;
    box-shadow: 0px 0px 77px rgba(0, 0, 0, 0.06);
    border-radius: 15px;
}

.event-card:nth-child(odd){
    margin-right: 47px;
}

.event-card__title-wrapper{
    display: flex;
    flex-direction: row;
    margin-bottom: 29px;
}

.event-card__time{
    width: 76px;
    padding: 10px 22px;
    background-color: rgba(113, 124, 255, 0.14);
    mix-blend-mode: normal;
    border-radius: 11px;
    margin-right: 19px;
}

span{
    display: inline-block;
    text-align: center;
    color: #717CFF;
}

.day{
    font-weight: bold;
    font-size: 27px;
    line-height: 32px;
}

.month{
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
}

.event-card__title{
    font-weight: bold;
    font-size: 24px;
    line-height: 37px;
    color: #37474F;
    margin: 0;
}

.event-card__text{
    max-width: 481px;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.444444px;
    color: rgba(55, 71, 79, 0.72);
    margin: 0;
    margin-bottom: 26px;
}

.event-card__wrapper-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.event-card__bottom-time{
    font-weight: 900;
    font-size: 16px;
    line-height: 28px;
    text-align: right;
    color: #373737;
}

.event-card__bottom-time::before{
    content: "";
    display: inline-block;
    background-image: url(../images/time.svg);
    background-repeat: no-repeat;
    width: 23px;
    height: 26px;
    background-position: 1px 5px;
    margin-right: 1px;
}

.circles-wrapper{
    display: flex;
    align-items: center;
    width: 107px;
    margin: 0 auto;
    margin-bottom: 108px;
}

.circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(124, 124, 124, 0.318837);
}

.circle:not(:nth-child(4)){
    margin-right: 18px;
}

.active-circle{
    width: 14px;
    height: 14px;
    background-color: #717CFF;
}


/* COUNTRIES */
.countries{
    text-align: center;
}

.countries__title{
    font-weight: bold;
    font-size: 37px;
    line-height: 54px;
    color: #373737;
}

.countries__text{
    width: 949px;
    margin: 0 auto 77px;
    font-weight: 500;
    font-size: 22px;
    line-height: 38px;
    color: #7D7D7D;
}

.countries-cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: left;
    margin-bottom: 70px;
}

.country-card{
    width: 344px;
    border-radius: 10px;
}

.country-card:not(:nth-child(3n)),
.country-card:not(:last-child){
    margin-right: 46px;
}

.country-card__img{
    margin-bottom: 27px;
}

.country-card__title{
    font-weight: 900;
    font-size: 25px;
    line-height: 29px;
    color: #37474F;
    margin: 0;
    margin-bottom: 11px;
}

.country-card__text{
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    color: rgba(55, 71, 79, 0.72);
    margin: 0;
}


/* APPLY-DREAM */
.apply-dream{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 82px;
    padding-bottom: 74px;
}

.apply-dream__title{
    font-weight: bold;
    font-size: 37px;
    line-height: 43px;
    color: #252525;
    margin: 0;
}

.apply-dream__btn{
    margin-bottom: 0;
}


/* SITE-FOOTER */
.site-footer{
    padding-top: 65px;
    padding-bottom: 45px;
    background-color: #717CFF;
}
.site-footer__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.site-footer__logo{
    margin-bottom: 26px;
}
.site-footer__address{
    max-width: 343px;
    margin-bottom: 58px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: #EEEEEE;
}
.site-footer__copyright-text{
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: #EEEEEE;
}
.about-section__list{
    list-style: none;
    margin: 0;
    padding: 0;
}
.about-section__link{
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 49px;
    color: #EEEEEE;
}
.disclaimer-section__list{
    list-style: none;
    margin: 0;
    padding: 0;
}
.disclaimer-section__link{
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 49px;
    color: #EEEEEE;
}
.site-footer__network-section{
    margin: 0;
    margin-top: auto;
}
.networks-list{
    display: flex;
    list-style: none;
    padding-bottom: 30px;
}

.networks-item{
    margin-left: 28px;
}

.slick-slide {
    display: flex;
    align-items: center;
    width: 400px;
    margin-right: 180px;
}